*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: verdana;
}

.container{
	max-width: 960px;
	margin: 0 auto;
	padding: 0 2%;
}

.clear{clear: both;}

.descricao-home{
	background: #e53935;
	padding: 20px 0;
	text-align: center;
	color: white;
}

.descricao-home a{
	color: #e53935;
	padding: 5px 8px;
	border-radius: 10px;
	background: #fff;
	float: right;
	text-decoration: none;
}

.descricao-home h2{
	float: left;
}

.lista-produtos{
	margin-top: 50px;
}

.box-single-food{
	text-align: center;
	float: left;
	width: 33.3%;
	padding: 0 10px;
}

.box-single-food img{
	width: 100%;
}

.box-single-food p{
	margin-top: 5px;
	color: gray;
}

.box-single-food a{
	background: #e53935;
	text-decoration: none;
	display: inline-block;
	padding: 5px 10px;
	border-radius: 5px;
	color: white;
	margin: 10px 0;
}

@media screen and (max-width: 768px){
	.box-single-food{
		width: 100%;
	}
}